.video_gallery_container{
		background: #E5F4E1;
		padding-bottom:40px;
		padding-top:40px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.video_gallery_container a{
		cursor:pointer;
	}
	.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; 